<div class="s clear">
  <div class="sp">
    <a href="/">
      <img src="img/fernando-porazzi.jpg" alt="Fernando Porazzi" class="spi">
    </a>
    <h1 class="spn">
      Fernando Porazzi
    </h1>
    <div class="spb clear">
      <p>
        Software developer based in Brazil <br>
      </p>
    </div>
    <div class="sps">
      <a href="//twitter.com/nandoporazzi">
        @nandoporazzi
      </a>
    </div>
    <nav class="spnv">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="//github.com/fernandoporazzi">GitHub</a></li>
      </ul>
    </nav>
  </div>
</div>