<!DOCTYPE html>
<html>
<head>
  <base href="/">

  <meta charset="utf-8">

  <meta name="description" content="A markdown blogging platform built in NodeJS + Express">
  <meta name="keywords" content="html, css, javascript, node, express, markdown, blog, github, angular">
  <meta name="title" content="{{pageTitle}}">
  <meta name="author" content="Fernando Porazzi - github.com/fernandoporazzi">

  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">

  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css">

  <title>{{pageTitle}} | Fernando Porazzi</title>
</head>
<body>

  {{{body}}}

  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>