.clear:before,.clear:after {
  content: ' ';
  display: table;
}

.clear {
  *zoom: 1;
}

.clear:after {
  clear: both;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
  display: block;
}

audio,canvas,video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active,a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code,kbd,pre,samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub,sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button,input,select,textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,input {
  line-height: normal;
}

button,select {
  text-transform: none;
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],html input[disabled] {
  cursor: default;
}

input[type="checkbox"],input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font: 400 15px/1.5 'Helvetica Neue', Helvetica, Arial;
  background: #fff;
  color: #444;
}

a {
  color: #444;
  font-weight: 900;
  text-decoration: none;
}

img {
  vertical-align: bottom;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
}

ul,ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  letter-spacing: -1px;
  margin: 0;
  padding: 0;
}

h1 {
  letter-spacing: -2px;
}

h6 {
  font-size: 15px;
  margin: 10px 0 0;
  border-bottom: 1px solid #eee;
}

.s {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  text-align: center;
  background: #f5f6f5;
  height: 100%;
  width: 340px;
}

.sp {
  margin: 40px 0;
}

.sp a {
  display: inline-block;
}

.spi {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  width: 100px;
  height: 100px;
}

.spn {
  font-size: 30px;
  margin: 10px 0;
}

.spb {
  margin: 0;
}

.spb p {
  font-size: 14px;
  line-height: 1.3;
  margin: 0;
}

.spb p a {
  font-weight: 900;
}

.sps {
  margin: 20px 0 10px;
  height: 28px;
}

.spnv ul li {
  font-size: 12px;
  display: inline-block;
  border-right: 1px solid #ccc;
}

.spnv ul li:last-child {
  border-right: 0;
}

.spnv ul li a {
  font-weight: 900;
  display: block;
  padding: 2px 8px;
}

.main {
  margin: 0 0 0 340px;
}

.post,.posts {
  max-width: 800px;
}

.posts-list li a {
  display: block;
  padding: 20px 25px;
}

.posts-title {
  font-size: 22px;
  letter-spacing: -1px;
}

.posts-date {
  border-bottom: 1px solid #eee;
  font-size: 12px;
  padding: 0 0 10px;
}

.post {
  padding: 0 35px 15px;
}

.post h3 {
  font-size: 20px;
  border-bottom: 1px solid #eee;
  margin: 10px 0 20px;
}

.post h4 {
  font-size: 18px;
}

.post h5 {
  font-size: 16px;
  font-style: italic;
}

.post ul li a {
  font-weight: 900;
}

.post ul {
  margin: 0 0 0 35px;
}

.post ul li {
  list-style: disc;
}

::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

::-webkit-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

@media only screen and (max-width: 900px) {
  .s {
    position: static;
    width: 100%;
  }

  .sp {
    margin: 10px 0;
  }

  .spn {
    font-size: 26px;
  }

  .spb,.sps {
    display: none;
  }

  .main {
    margin: 0;
  }

  .posts-title {
    font-size: 18px;
  }

  .post {
    padding: 0 15px 15px;
  }
}